<h1>L1L1Questions#show</h1>
<p>Find me in app/views/l1_l1_questions_with_wrong_answerss/show.html.erb</p>

<table>
<tr>
   <td>email:</td><td><%= @l1_l1_questions_with_wrong_answers.email %></td>
</tr>
<tr>
   <td>sound_board:</td><td><%= @l1_l1_questions_with_wrong_answers.sound_board %></td>
</tr>
<tr>
   <td>bridge:</td><td><%= @l1_l1_questions_with_wrong_answers.bridge %></td>
</tr>
<tr>
   <td>sound_hole:</td><td><%= @l1_l1_questions_with_wrong_answers.sound_hole %></td>
</tr>
<tr>
   <td>tuning_pegs:</td><td><%= @l1_l1_questions_with_wrong_answers.tuning_pegs %></td>
</tr>
<tr>
   <td>frets:</td><td><%= @l1_l1_questions_with_wrong_answers.frets %></td>
</tr>
<tr>
   <td>fret_board:</td><td><%= @l1_l1_questions_with_wrong_answers.fret_board %></td>
</tr>
<tr>
   <td>nut:</td><td><%= @l1_l1_questions_with_wrong_answers.nut %></td>
</tr>
<tr>
   <td>saddle:</td><td><%= @l1_l1_questions_with_wrong_answers.saddle %></td>
</tr>
<tr>
   <td>pick_guard:</td><td><%= @l1_l1_questions_with_wrong_answers.pick_guard %></td>
</tr>
<tr>
   <td>finger_4:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_4 %></td>
</tr>
<tr>
   <td>finger_3:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_3 %></td>
</tr>
<tr>
   <td>finger_2:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_2 %></td>
</tr>
<tr>
   <td>finger_1:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_1 %></td>
</tr>
<tr>
   <td>finger_t:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_t %></td>
</tr>
<tr>
   <td>finger_p:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_p %></td>
</tr>
<tr>
   <td>finger_i:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_i %></td>
</tr>
<tr>
   <td>finger_m:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_m %></td>
</tr>
<tr>
   <td>finger_a:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_a %></td>
</tr>
<tr>
   <td>finger_c:</td><td><%= @l1_l1_questions_with_wrong_answers.finger_c %></td>
</tr>














</table>






